body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #66ac5379;
    color: #083d1a;
}

/* NAVBAR */
.navbar {
    width: 100%;
     background:linear-gradient(135deg, #ffffff , #66BB6A, #2E7D32);
    backdrop-filter: blur(12px);
    padding: 18px 32px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
   box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.company {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 700;
    color: #047d3d;
}

.logo {
    width: 85px;
    height: auto;
}

/* MAIN LAYOUT */
.container {
    padding: 120px 40px;
}
.container-fluid.mt-3 {
    padding: 120px 40px;
    padding-top: 140px; 
}

/* MAP */
#map {

    height: 620px;
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(5, 68, 26, 0.812);
}

/* WEATHER CARD */
#weatherCard {
   
     background: #ffffff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(46, 125, 50, 0.793);
     height: fit-content;
      width: 100%;
 }

#weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherCard h1 {
     word-wrap:break-word;
    font-size: 32px;
    font-weight: 700;
    color: #047d3d;
    margin-bottom: 8px;
     text-align: center;
    width: 100%;
}

.subtitle {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    padding: 12px 26px;
    background: linear-gradient(135deg, #049b4c, #057f3e);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 50px;
    margin-bottom: 25px;
    box-shadow: 0 4px 14px rgba(10, 108, 50, 0.25);
}

button:hover {
    transform: translateY(-2px) scale(1.04);
}

/* WEATHER RESULT TEXT */
#weatherResult h2 {
    
    margin-bottom: 10px;
    color: #047d3d;
}

#weatherResult p {
    
    margin: 6px 0;
    font-size: 15px;
}

#weatherResult hr {
    width: 60%;
    margin: 18px auto;
    border: none;
    height: 1px;
    background-color: #ccc;
}

/* POPUP IMAGES */
.popup-image {
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}