body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ffffff, #64ffb7);
    color: #083d1a;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff, #25b471);
    backdrop-filter: blur(12px);
    padding: 18px 32px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    border-bottom: 1.5px solid rgba(40, 168, 105, 0.4);
}

.company {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 700;
    color: #047d3d;
}

.logo {
    width: 85px;
    height: auto;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    gap: 25px;
    padding: 120px 40px;
}

/* MAP */
#map {
    flex: 2;
    height: 620px;
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(5, 68, 26, 0.812);
}

/* WEATHER CARD */
#weatherCard {
     flex: 1;
     background: #ffffff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(46, 125, 50, 0.793);
     height: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
 }


#weatherCard h1 {
    font-size: 32px;
    font-weight: 700;
    color: #047d3d;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    padding: 12px 26px;
    background: linear-gradient(135deg, #049b4c, #057f3e);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-bottom: 25px;
    box-shadow: 0 4px 14px rgba(10, 108, 50, 0.25);
}

button:hover {
    transform: translateY(-2px) scale(1.04);
}

/* WEATHER RESULT TEXT */
#weatherResult h2 {
    margin-bottom: 10px;
    color: #047d3d;
}

#weatherResult p {
    margin: 6px 0;
    font-size: 15px;
}

#weatherResult hr {
    width: 60%;
    margin: 18px auto;
    border: none;
    height: 1px;
    background-color: #ccc;
}

/* POPUP IMAGES */
.popup-image {
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
